<div class="registration-container">
  <mat-card class="registration-card">
    <mat-card-header>
      <mat-card-title>Inscription</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registrationForm">
            <div fxLayout="column">

              <mat-error *ngIf="this.errorMessage != null">{{this.errorMessage}}</mat-error>

              <mat-form-field>
                <input
                  autocomplete="off"
                  matInput
                  formControlName="email"
                  placeholder="Email"
                  type="email">
                <mat-error *ngIf="registrationForm.get('email').hasError('required')">L'e-mail est requis</mat-error>
                <mat-error *ngIf="registrationForm.get('email').hasError('email')">L'e-mail doit ressembler à un e-mail</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  autocomplete="off"
                  matInput
                  formControlName="username"
                  placeholder="Nom d'utilisateur">
                <mat-error *ngIf="registrationForm.get('username').hasError('required')">Nom d'utilisateur est requis</mat-error>
                <mat-error *ngIf="registrationForm.get('username').hasError('minlength')">La longueur du nom d'utilisateur est d'au moins 6 caractères</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input
                  autocomplete="off"
                  matInput
                  formControlName="city"
                  placeholder="Ville">
                <mat-error *ngIf="registrationForm.get('city').hasError('required')">La ville est requise</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  autocomplete="off"
                  matInput
                  formControlName="street"
                  placeholder="Rue">
                <mat-error *ngIf="registrationForm.get('street').hasError('required')">Rue est requise</mat-error>
              </mat-form-field>

        <mat-form-field>
          <input
            autocomplete="off"
            matInput
            formControlName="password"
            placeholder="Mot de passe"
            type="password"
            required>
          <mat-error *ngIf="registrationForm.get('password').hasError('required')">Mot de passe requis</mat-error>
          <mat-error *ngIf="registrationForm.get('password').hasError('minlength')">La longueur du mot de passe est d'au moins 6 caractères</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            autocomplete="off"
            matInput
            formControlName="repeatPassword"
            placeholder="Rentrez le mot de passe"
            type="password"
            required
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="registrationForm.hasError('notSame')">Les mots de passe ne correspondent pas</mat-error>
        </mat-form-field>


        <mat-form-field>
          <input
            autocomplete="off"
            matInput
            formControlName="isPresta"
           
            type="text"
            required
           >
        
        </mat-form-field>
        

        
            </div>

          <mat-card-actions>
            <button mat-raised-button primary class="button" (click)="register()">Créer un compte</button>
          </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>

