.productImage{
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.image{
  width: 400px;
  height: 300px;
}
.backButton{
  color: #448AFF;
  width: 40px;
  height: 40px;
}
.mat-elevation-z4{
  background-color: white;
  padding: 1%;
  border-radius: 4px;
}
.mat-display-1, .mat-display-2 {
  margin-bottom: 1rem;
  color: #9965f4;
}

.star-rating {
  display: inline-flex;
  font-size: 0;
  
}

.star-rating.star-rating-readonly .star-rating-star {
  cursor: default;
}

.star-rating-star {
  font-size: 30px;
  color:black;
  cursor: pointer;
  margin-right: 10px;
}

.star-rating-star.full {
  color: #288202;
}


.star-rating-star::before {
  content: "\2605";
  font-size: 30px;
  color: #ddd;
}

.star-rating-star.full::before {
  color: #ff0707;
}

