.toolbar{
  background-color: #448AFF;
}
.spacer {
  flex: 1 1 auto;
}
.spacer2{
  margin-right: 10px;
}
//.text-white{color:#fff!important}
.logo{
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  outline: none;
  height: 64px;
}
.input {
  border: none;
  padding: 1rem;

  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5,
     -20px -20px 60px #ffffff;
  transition: 0.3s;
  margin-right: 150px;
 }
 
 .input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
 }
