<div class="dialog">
  <mat-dialog-title><div class="large-text">Accepter la commande</div></mat-dialog-title>
  <mat-divider></mat-divider>
    <mat-dialog-content>
      Passer le délai de livraison en minutes :

          <input [(ngModel)]="deliveryTimeInMinutes"  matInput type="number" class="mat-form-field" >

      <mat-dialog-actions>
        <button mat-raised-button style="background-color: green" [mat-dialog-close]="deliveryTimeInMinutes">Acceptez</button>
        <button mat-raised-button style="background-color: red" (click)="cancel()">Cancel</button>
      </mat-dialog-actions>
    </mat-dialog-content>
</div>

