<form [formGroup]="categoryForm" >
  <div class="category-dialog">
    <mat-dialog-content>

      <mat-dialog-title color="primary">
        <h1>Ajouter une categorie</h1>
      </mat-dialog-title>
      <mat-divider></mat-divider>
      <div fxLayout="column">

        <mat-form-field>
          <input
            autocomplete="off"
            matInput
            formControlName="name"
            placeholder="Category name">
          <mat-error *ngIf="categoryForm.get('name').hasError('required')">Le nom est requis</mat-error>
          <mat-error *ngIf="alreadyExists == true">Le nom est requis</mat-error>
        </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button (click)="close()">Fermez</button>
      <button mat-raised-button class="saveButton" (click)="save()">Enregistrez</button>
    </mat-dialog-actions>
  </div>
</form>




